form {
    width: 600px;
    margin: 20px auto;
    padding: 25px;
    border: 1px solid #ccc
    border-radius: 20px;
    background-color: #3498db;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input,select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
body {
    background-color: rgb(34, 134, 34)
}